.hero {
    background-color: #ffe4ec;
    height: 100vh; /* Fullscreen */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .title {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #c2185b;
  }
  
  .subtitle {
    font-size: 1.2rem;
    color: #333;
  }
  